$color-primary: #000000;
$color-secondary: #323232;
$color-accent-red: #ff1e56;
$color-accent-yellow: #ffac41;
$color-accent-green: #28a745;

$color-white: #fff;
$color-white-dark: rgb(240, 240, 240);

$color-black: #000;
$color-grey: #ccc;

$bo-size: 3rem;

$shadow-section: 2px 5px 10px rgba($color-black, 0.2);
