.about {
  padding-bottom: 5rem;

  &__slide {
    height: 40rem;
    display: flex;
    // border: 1px solid red;
    box-shadow: $shadow-section;
    @include respondBetween(0px, 575px) {
      height: 30rem;
    }
  }
  &__quote {
    flex: 0 0 55%;
    max-width: 55%;
    background-color: $color-white;
    @include flexCenter();

    @include respondMax(800px) {
      @include absCenter();

      background-color: rgba($color-black, 0.6);
      z-index: 99;
      // .about__quote-text {
      //   // color: $color-white;
      //   // font-weight: 600;
      // }
      .about__quote-mark {
        width: 5rem;
        height: 5rem;
        top: -2rem;
        left: -1rem;
        // fill: rgba(#f4f4f4, 0.8);
        fill: rgba($color-black, 0.4);

        @include respondMax(550px) {
          top: -3rem;
          left: -2rem;
          z-index: -2;
          // fill: red;
        }
      }
    }
    &-text {
      max-width: 35ch;
      text-align: center;
      font-family: "Playfair Display";
      font-size: 2.5rem;
      position: relative;
      padding: 2rem;
      // border: 1px solid red;
      // z-index: 9;

      @include respondMax(800px) {
        color: $color-white;
        // text-shadow: 2px 2px rgba($color-black, 0.4);
        font-weight: 100;
      }

      @include respondMax(550px) {
        // font-size: 2rem;
        padding: 0rem 1rem;
      }
      @include respondBetween(0px, 460px) {
        font-size: 1.8rem;
        max-width: 40rem;
        padding: 0rem 1rem;
      }
      &--small {
        @include respondMax(575px) {
          font-size: 1.6rem;
        }
      }
    }
    &-mark {
      position: absolute;
      top: -8rem;
      left: 1rem;
      font-size: 6rem;
      width: 10rem;
      height: 10rem;
      & path {
        fill: #e3e3e3;
      }

      @include respondMax(800px) {
        & path {
          fill: rgba($color-white, 0.6);
        }
      }
    }
    &--small {
      flex: 0 0 40%;
      max-width: 40%;

      // & .about__quote-mark {
      //   left: 1rem;
      // }
    }
    // &--white {
    //   // @include respondMax(800px) {
    //   //   color: $color-white;
    //   // }
    // }
  }
  &__img {
    flex: 0 0 45%;
    max-width: 45%;
    object-fit: cover;
    &--2 {
      filter: grayscale(100%);
    }
    &--big {
      flex: 0 0 60%;
      max-width: 60%;
    }
    @include respondMax(800px) {
      flex: 0 0 100%;
      max-width: 100%;
      opacity: 0.85;
    }
  }
}
