.footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  & .case {
    background-color: $color-white;
    box-shadow: $shadow-section;
    padding: 3rem 5rem;

    @include respondMax(400px) {
      max-width: 95%;
    }
  }
  &__copyright {
    text-align: center;
  }
  &__links {
    @include flexCenter();
    & i {
      margin-right: 1rem;
      font-size: 3rem;
    }
  }
}
