.header {
  padding: 8rem 0;
  min-height: 60vh;
  background-color: $color-white-dark;
  border-radius: 0 0 4rem 4rem;
  box-shadow: $shadow-section;

  //position is needed for the z-index
  position: relative;
  z-index: -111;

  @include respondMin(700px) {
    border-radius: 0 0 0rem 0rem;
    min-height: 85vh;
    // padding-bottom: 6rem;
  }

  & .y1 {
    flex: 0 0 45%;
  }

  &__text {
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .heading__primary,
    & .heading__secondary,
    .heading__tart {
      color: $color-black;
      text-align: right;

      @include respondMin(700px) {
        text-align: center;
      }
    }
  }
  &__img-container.y2 {
    flex: 0 0 55%;
    height: 20rem;

    // position needed for the accent border
    position: relative;
    // @include respondMin(375)
    @include respondMin(700px) {
      flex: 0 0 40%;
      height: 35rem;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 1.2rem;
      left: 1.2rem;
      width: 100%;
      height: 100%;
      //   background-color: rgba($color-white, 0.6);
      border: 2px solid #e3e3e3;
      z-index: -1;

      @include respondMin(700px) {
        top: 2rem;
        left: 2rem;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
