.mynav {
  position: fixed;
  top: 0;

  z-index: 999;

  font-size: 1.2rem;
  width: 100%;

  // box-shadow: $shadow-section;

  @include respondMin(700px) {
    font-size: 1.4rem;
  }

  @include respondMin(767px) {
    font-size: 2rem;
  }

  background-color: $color-black;
  color: $color-white;

  &__container {
    margin: 0 auto;
  }

  &__navbar {
    max-width: 80%;

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respondMin(768px) {
      max-width: 70%;
    }
    @include respondMin(992px) {
      max-width: 50%;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    padding: 1rem 0;

    @include flexCenter();
    &.active {
      background-color: $color-white-dark;
      // color: $color-white;
      color: $color-black;
      position: relative;
      .border-out-right,
      .border-out-left {
        fill: $color-white-dark;
      }
    }
  }
  &__link {
    @include flexCenter();
    flex-direction: column;
    & i {
      font-size: 2rem;
    }
    @include respondMin(768px) {
      flex-direction: row;
      padding: 0 2rem;
      & i {
        margin-right: 1rem;
      }
    }
  }
}

.border-out-right,
.border-out-left {
  width: $bo-size;
  height: $bo-size;

  position: absolute;
  bottom: 0;
}

//right and left value should be same as width and height

.border-out-right {
  right: -29px;
}

.border-out-left {
  left: -29px;
}
