.section-gallery {
  padding: 100px 0;
  max-width: 750px;
  margin: auto;
  .gal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1fr, 187.5px);
    grid-gap: 10px;
    grid-template-areas:
      "box1 box2 tall1"
      "box4 box4 tall1"
      "box6 box8 tall1"
      "box5 box5 box5"
      "box3 box3 box3";
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border: 1px solid red;
    }

    &__item {
      width: 250px;
      height: 187.5px;

      border: 1px solid red;

      &--1 {
        grid-area: box1;
      }
      &--2 {
        grid-area: box2;
      }
      &--3 {
        grid-area: box3;
        width: 100%;
        height: 400px;
      }
      &--4 {
        grid-area: box4;
        width: 100%;
      }
      &--5 {
        grid-area: box5;
        width: 100%;
        height: 300px;
      }
      &--6 {
        grid-area: box6;
      }
      &--7 {
        grid-area: tall1;
        height: 100%;
      }
      &--8 {
        grid-area: box8;
      }
    }
  }
}
