// .gallery {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-areas:
//     "l1 l1"
//     "m1 m2"
//     "m3 m4";

//   grid-gap: 1rem;
//   justify-items: center;

//   @include respondMin(700px) {
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-areas:
//       "l1 l1 l1 l1"
//       "m1 m2 m3 m4";

//     &__item {
//       &--1 {
//         grid-area: l1;
//         //   width: 28rem;
//         //   height: 20rem;
//         border-radius: 2rem;
//       }
//       &--2 {
//         grid-area: m1;
//         //   width: 13.5rem;
//         //   height: 17rem;
//         border-radius: 2rem;
//         //   border: 1px solid $color-black;
//       }
//       &--3 {
//         grid-area: m2;
//         //   width: 13.5rem;
//         //   height: 17rem;
//         border-radius: 2rem;
//       }
//       &--4 {
//         grid-area: m3;
//         //   width: 13.5rem;
//         //   height: 17rem;
//         border-radius: 2rem;
//       }
//       &--5 {
//         grid-area: m4;
//         //   width: 13.5rem;
//         //   height: 17rem;
//         border-radius: 2rem;
//       }
//     }
//   }
//   &__item {
//     // margin: auto;
//     // border: 1px solid blue;
//     &--1 {
//       grid-area: l1;
//       //   width: 28rem;
//       //   height: 20rem;
//       border-radius: 2rem;
//     }
//     &--2 {
//       grid-area: m1;
//       //   width: 13.5rem;
//       //   height: 17rem;
//       border-radius: 2rem;
//       //   border: 1px solid $color-black;
//     }
//     &--3 {
//       grid-area: m2;
//       //   width: 13.5rem;
//       //   height: 17rem;
//       border-radius: 2rem;
//     }
//     &--4 {
//       grid-area: m3;
//       //   width: 13.5rem;
//       //   height: 17rem;
//       border-radius: 2rem;
//     }
//     &--5 {
//       grid-area: m4;
//       //   width: 13.5rem;
//       //   height: 17rem;
//       border-radius: 2rem;
//     }
//   }
//   &__img {
//     @include imgCover();
//     border-radius: 2rem;
//   }
// }

// .gallery {
//   &__img-container {
//     // width: 30rem;
//     height: 15rem;
//     border-radius: 2rem;

//     @include respondMin(341px) {
//       height: 20rem;
//     }

//     @include respondMin(700px) {
//       height: 30rem;
//     }
//     @include respondMin(992px) {
//       height: 45rem;
//     }
//   }

//   &__img {
//     @include imgCover();
//     border-radius: 2rem;
//   }
//   & .glider-prev {
//     left: -31px;
//     @include respondMin(575px) {
//       top: 35%;
//       left: -41px;
//     }
//     @include respondMin(700px) {
//       top: 40%;
//       // transform: translateY(-50%);
//     }
//   }
//   & .glider-next {
//     right: -31px;
//     @include respondMin(575px) {
//       top: 35%;
//       right: -41px;
//     }
//     @include respondMin(700px) {
//       top: 40%;
//       right: -41px;
//       // transform: translateY(-50%);
//     }
//   }
// }

.gallery {
  @include flexCenter();
  flex-direction: column;
  &__top-container {
    height: 15rem;
    border-radius: 1.5rem;

    opacity: 1;
    transition: all 0.2s;
    @include respondMin(575px) {
      height: 25rem;
      margin: auto;
    }
    @include respondMin(700px) {
      width: 60rem;
      height: 40rem;
      margin: auto;
    }
  }
  &__top-img {
    @include imgCover();
    // height: 15rem;
    border-radius: 1.5rem;
  }
  &__thumb {
    margin-top: 1.2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 6rem;
    grid-gap: 0.5rem;

    @include respondMin(575px) {
      grid-auto-rows: 8rem;
    }
    @include respondMin(992px) {
      grid-auto-rows: 10rem;
      grid-gap: 0.75rem;
    }
    @include respondMin(1200px) {
      grid-auto-rows: 12rem;
      grid-gap: 1rem;
    }
  }

  &__thumb-container {
    // width: 25%;
    // height: 6rem;
    // border-radius: 1rem;
    transition: all 0.2s;

    // &:not(:nth-of-type(4n)) {
    //   // padding-right: 0.5rem;
    // }
  }
  &__thumb-img {
    @include imgCover();
    border-radius: 1rem;
    transition: all 0.2s;
    &.selected {
      filter: brightness(0.4);
      transform: scale(0.9);
    }
    &:hover {
      cursor: pointer;
    }
  }

  // & .glider-slide {
  //   // border-radius: 1.5rem;
  //   // width: 8rem !important;
  // }
}
