@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");

body {
  color: $color-black;
  // font-family: Raleway;
  font-family: "Playfair Display";
}

.heading__primary {
  font-family: "Lora";
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  @include respondMin(700px) {
    font-size: 4rem;
  }
}
.heading__secondary {
  font-family: "Lora";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
  @include respondMin(700px) {
    font-size: 3rem;
  }
}

.heading__tart {
  font-family: "Raleway";
  font-size: 1.8rem;
  font-weight: 400;
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  text-align: center;
  margin: 2rem 0;
}
